<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid">
        <h2 style="color: #4e73df;">Laptop admin</h2>
        <a href="/logout">logout</a>
    </div>
</nav>