<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-snapchat"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="/"><i class="fas fa-tachometer-alt"></i><span>Trang
                        Chủ</span></a></li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                    data-toggle="dropdown" href="#"><i class="fa fa-table"></i>Danh Sách Sản Phẩm</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/danhSachSanPham">Danh Sách
                        Sản Phẩm</a>
                    <a class="dropdown-item" href="/danhsachvoucher">Danh Sách voucher</a>
                </div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                    data-toggle="dropdown" href="#"><i class="fa fa-folder"></i>Quản Lý Sản Phẩm</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/themSanPham">Thêm sản phẩm</a>
                    <a class="dropdown-item" href="/themVoucher">Thêm voucher</a>
                </div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                    data-toggle="dropdown" href="#"><i class="fa fa-folder"></i>Quản Lý Hóa Đơn</a>
                <div class="dropdown-menu"><a class="dropdown-item" href="/xacNhanHoaDon">Xác nhận hóa đơn</a><a
                        class="dropdown-item" href="donHangDaGiao">Đơn hàng đã giao</a></div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                    data-toggle="dropdown" href="#"><i class="fa fa-folder"></i>Quản Lý Thông Báo</a>
                <div class="dropdown-menu"><a class="dropdown-item" href="/danhSachThongBao">Danh sách thông báo</a><a
                        class="dropdown-item" href="/themThongBao">Thêm thông báo</a></div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                    data-toggle="dropdown" href="#"><i class="fa fa-signal"></i>Thống Kê</a>
                <div class="dropdown-menu"><a class="dropdown-item" href="/sanPhamDaBan">Sản Phẩm Đã Bán</a></div>
            </li>
            <!-- <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                    data-toggle="dropdown" href="#"><i class="fa fa-video-camera"></i>Quản Lý Viddeo</a>
                <div class="dropdown-menu"><a class="dropdown-item" href="danhSachLink">Danh sách link</a></div>
            </li> -->
            <li class="nav-item"><a class="nav-link" href="/danhsachnguoidung"><i class="fa fa-video"></i><span>Danh
                        Sách Người Dùng</span></a></li>
        </ul>
       
    </div>
</nav>